[Unit]
Description=Detect Net Server App

[Service]
User=iron-maple
Group=iron-maple
ExecStart=/usr/bin/python3 /home/iron-maple/Documents/jetson-vision/DetectNet-CUDA/detectnet-server-app.py > /home/iron-maple/logs/detectnet-server.log
Restart=no

[Install]
WantedBy=multi-user.target
