[Unit]
Description=DetectNet Server
After=multi-user.target

[Service]
Type=simple
User=iron-maple
ExecStart=/bin/bash /home/ironn-maple/d.sh

[Install]
WantedBy=multi-user.target
