[Unit]
Description=April Tag Server
After=multi-user.target

[Service]
Type=simple
User=iron-maple
ExecStart=/bin/bash /home/ironn-maple/a.sh

[Install]
WantedBy=multi-user.target
